*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head{
    text-align: center;
    margin: 20px;
}
form{
    text-align: center;
    margin: 20px; 
}
input{
    width: 500px;
    padding: 14px 16px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bn{
    padding: 14px 20px;

}

.form-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}